@import '../../../assets/Variables.scss';
@import '../../../assets/Global.scss';
#ad-view{
    border:2px solid black;
    height: 100vh - $navbar-height;
    width: 100vw;
    
    #ad-card{
        border:2px solid black;
    }
}