#stories {
    height: 15vh;
    width: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;

    #heading {
        color: white;
        position: absolute;
        top: 4%;
        left: 1.5%
    }

    .story {
        display: inline-block;
        height: 100%;
        max-width: 10vh;
        min-width: 10vh;
        width: auto;
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .story-circle {
            border: 2px solid white;
            margin: auto;
            width: auto;
            height: 100%;
            max-height: 8vh;
            max-width: 8vh;
            border-radius: 50%;
            padding: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}