@import '../../assets/Global.scss';
@import '../../assets/Variables.scss';
#navbar {
    // border: 2px solid black;
    list-style-type: none;
    // min-height: 20;
    height: $navbar-height;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: black;
    &:after{
        height: $navbar-height+1;
    }
    // stroke: linear-gradient(green, yellow);
    


    .nav-links-group {
        width: 50%;
        // border:2px solid green;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #navpage-links {
        margin: auto;
        justify-content: flex-start;
    }

    #account-links {
        justify-content: flex-end;
        margin: auto;
    }

    .nav-link {
        margin: auto 2%;
    }
    a{
        text-decoration: none;
        color: white;
    }


}