.agency-item {
    color: white;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: minmax(2em, 1.5%) minmax(15em, 15%) minmax(9em, 10%) minmax(13em, 13%) minmax(18em, 16%) minmax(10em, 10%) minmax(10em, 10%);
    border-bottom: 1px solid grey;
    height: auto;
    // border: 2px solid black;
    margin-left: -1%;

    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        min-width: auto;
        list-style-type: none;
        display: inline-block;
        padding: auto;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.stamp {
    position: absolute;
    width: 20px;
    margin-left: 5px;
}

@media all and (max-width:480px) {
    * {
        font-size: 14px;
    }

    .agency-item {
        width: auto;
        display: grid;
        grid-template-columns: 10% 50% 40%;
        padding-left: -1%;
        margin-left: -8%;
        li {
            margin: auto;

        }

        .email,
        .branch,
        .address,
        .website {
            display: none;
        }
    }
}