@import '../../assets/Animations.scss';

#loading {

    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    #circle-1 {
        height: 2em;
        width: 2em;
        margin: auto;
        display: block;
        border-radius: 50%;
        border: 0.3em solid white;
        background: transparent;
        clip-path: ellipse(67% 100% at 8% 50%);
        animation: 1s linear 0.5s infinite loadingRotation;

    }

    #circle-2 {
        left: 5%;
        top: auto;
        margin: auto;
        display: block;
        position: absolute;
        width: 90%;
        height: 90%;
        background: transparent;

    }
}

